* {
	box-sizing: border-box;
}
h1 {
	text-align: center;
	margin-bottom: 25px;
}
.part1, .part2, .part3 {
	background-color: #ebebeb;
	border: 3px solid black;
	margin: 10px;
	font-family: Georgia, Helvetica;
	color: black;
	position: relative;
	height: 250px;
}

.row {
	width: 100%;
	position: relative;
}

@media (min-width: 992px) {
	.col-lg-4, .col-lg-6, .col-lg-12 {
    	float: left;
    	border: 1px solid black;
  	}
	.col-lg-4 {
    	width: 30%;
  	}
	.col-lg-6 {
    	width: 45%;
  	}
	.col-lg-12 {
    	width: 93%;
  	} 	
}

@media (min-width: 768px) and (max-width: 991px) {
	.col-md-4, .col-md-6, .col-md-12 {
    	float: left;
    	border: 1px solid black;
  	}
  	.col-md-4 {
    	width: 30%;
  	}
  	.col-md-6 {
    	width: 45%;
  	}
  	.col-md-12 {
    	width: 93%;
  	}
}

@media (max-width: 767px) {
	.col-sm-12 {
    	float: left;
    	border: 1px solid black;
  	}
  	.col-sm-12 {
    	width: 93%;
  	}
}

.section-title {
    float: right;
    border: 3px solid black;
    height: 60px;
    padding: 10px;
    font-size: 16px;
    line-height: 30px;
}

p {
	padding: 10px 20px;
	border: 10px;
  clear: both;
}

.sectiontitle1 {
	background-color: #f5ffcf;
}

.sectiontitle2 {
	background-color: #ffcba8;
}

.sectiontitle3 {
	background-color: #a8caff;
}
